<h1>HOMEPAGE</h1>

{{#each posts as |post|}}
<a href="/posts/{{post.id}}">{{post.title}}</a>
    <h1>{{post.user.name}}</h1>
    <h1>{{post.title}}</h1>
    <h1>{{post.contents}}</h1>
{{/each}} 

<!-- a post needs an anchor with a link to its route-->