<h1>HOMEPAGE</h1>

{{#each posts as |post|}}

<a href="/post/{{post.id}}">{{post.title}}</a>
<h1>Created on: {{format_date post.date}}</h1>
    <h1>{{post.user.name}}</h1>
    
    <h1>{{post.contents}}</h1>
    <h1>Comments</h1>
        {{#each post.comments}}
        <h2>{{this.contents}}</h2>
        {{/each}}
{{/each}} 

<!-- a post needs an anchor with a link to its route-->