<h1>INDIVIDUAL POST</h1>


    <h1>Created on: {{format_date post.date}}</h1>
    <h1>By: {{post.user.name}}</h1>
    <h1>Title: {{post.title}}</h1>
    <h1>Contents: {{post.contents}}</h1>

    <h1>Comments</h1>
        {{#each post.comments}}
            <h2>date: {{format_date this.date}}</h2>
            <h2>user: {{this.user.name}}</h2>
            
            <h2>comment: {{this.contents}}</h2>
        {{/each}}


{{#if logged_in}}
  <script>
    window.user_id = {{req.session.user_id}};
  </script>
    <form class="new-comment-form">
        <h1>Add comment</h1>
            <textarea name="contents" id="new-comment"></textarea>
            <input type="hidden" name="post_id" value="{{post_id}}">
                <button class="form-input" action="/api/comments/" method="POST" type="submit">Comment</button>
    </form>


{{/if}}

<script src="/public/js/comment.js"></script>

